<tr class="{CSS_ROW}">
	<!-- BEGIN radio_front -->
	<td class="std small"><input type="radio" name="id" value="{ID}"></td>
	<!-- END radio_front -->
	<!-- BEGIN checkbox_front -->
	<td class="std small"><input type="checkbox" name="id[]" value="{ID}"></td>
	<!-- END checkbox_front -->
	<!-- BEGIN td -->
	<td class="std small">{VALUE}</td>
	<!-- END td -->
	<!-- BEGIN radio -->
	<td class="std small"><input type="radio" name="id" value="{ID}"></td>
	<!-- END radio -->
	<!-- BEGIN checkbox -->
	<td class="std small"><input type="checkbox" name="id[]" value="{ID}"></td>
	<!-- END checkbox -->
</tr>