<script>
    $(document).ready(function () {
        var a = $("#srag-usrto-search");
        a.click(function (event) {
            event.preventDefault();
        });
        var href = a.attr("href");
        var input = a.children(".srag-search-input");
        var results = $("#srag-usrto-search-results");
        var takeoverprefix = results.attr("data-srag-usrto-takeover-prefix");
        var loading_text = results.attr("data-srag-loading-text");
        var no_results_text = results.attr("data-srag-no-results");

        input.focus(function () {
            results.slideDown();
        });

	    /**
         * @author Jean-Luc Braun <braun@qualitus.de>
	     */
	    $("#srag-toggle").click(function(){
		    $("#srag_container").slideToggle(300);
		    $(this).toggleClass('active').promise().done(function(){
			    if ($(this).hasClass("active")) {
			    	input.focus();
				    $(document).bind('mouseup', function(e) {
					    if (!$("#srag-usrto-search input").is(e.target) && !$("#srag-toggle").is(e.target) && $("#srag-toggle").has(e.target).length === 0) {
						    $("#srag_container").hide();
						    $("#srag-toggle").removeClass('active');
						    $(document).unbind('mouseup');
					    }
				    });
			    } else {
				    $(document).unbind('mouseup');
			    }
		    });
	    });

        var previousRequest = null;

        function handleRequest() {
            if (previousRequest) {
                previousRequest.abort();
            } else {
                results.prepend("<li>" + loading_text + "<li/>");
            }
            var term = input.val();
            if (term.length < 3) {
                results.empty();
                return;
            }
            previousRequest = $.ajax({
                url: href,
                type: "get",
                data: {
                    term: term
                },
                success: function (response) {
                    console.log("BEGIN"+response+"END OF RESPONSE");
                    response = JSON.parse(response);
                    results.empty();
                    for (var i = 0; i < response.length; i++) {
                        results.prepend("<li><a class='user-takeover-link' href=" + takeoverprefix + response[i].id + ">" + response[i].text + "</a></li>");
                    }
                    if (response.length == 0) {
                        results.prepend("<li>" + no_results_text + "</li>")
                    }
                    previousRequest = null;
                }
            })
        }
        input.on('paste', function () {
            handleRequest();
        });

        input.keyup(function (e) {
            var key = e.which;
            if(key == 13) {
                var link = $("a.user-takeover-link").first();
                var takeoverLink = link.attr("href");
                //do not redirect if no results where found
                if(takeoverLink == null) {
                	return;
                }
                link.fadeTo(100, 0.1).fadeTo(500, 1.0);
                console.log($("a.user-takeover-link").first());
                window.location.href = takeoverLink;
                return;
            }
            handleRequest();
        });
    })

</script>

<!--
  @author Jean-Luc Braun <braun@qualitus.de>
-->
<!-- BEGIN DROPDOWN_TOGGLE -->
{TOGGLE}
<!-- END DROPDOWN_TOGGLE -->
<ul class="dropdown-menu pull-right" id="srag_container" style="display: none; white-space: nowrap; padding: 0px 10px">
	<li>
		<!-- BEGIN search -->
		<a href='{SEARCHUSERLINK}' id='srag-usrto-search' class='dropdown-toggle'>
            {TXT_TAKE_OVER_USER}
			{SEARCH_INPUT}
		</a>
		<!-- END search -->
		<div data-srag-usrto-takeover-prefix="{TAKEOVERPREFIX}" data-srag-no-results="{NO_RESULTS}" data-srag-loading-text="{LOADING_TEXT}" id="srag-usrto-search-results">
		</div>
		{GROUPS}
	</li>
</ul>
