<script>
    $(document).ready(function(){
        var sr_id_input = "{ESCAPED_ID}";
        var sr_link_input = "{AJAX_LINK}";
        var preload = {PRELOAD};
        var replacer = new RegExp('amp;', 'g');
        sr_link_input = sr_link_input.replace(replacer, '');
        var settings = {placeholder: "{PLACEHOLDER}",
            minimumInputLength: "{MINIMUM_INPUT_LENGTH}",
            multiple: true
        };
        if(sr_link_input.length > 0){
            settings["ajax"] = {
                minimumInputLength: 3,
                url: sr_link_input,
                dataType: 'json',
                data: function(term, page){
                    return {
                        term: term,
	                    container_type:'{CONTAINER_TYPE}',
                        page_limit: 10
                    }
                },
	            processResults: function(data, page){
                    return {
                        results: data
                    }
                }
            }

        }
        $("#"+sr_id_input).select2(settings);
    });
</script>
<select style="width:{WIDTH}; display:none;" class="chosen {CSS_CLASS}" data-placeholder="{PLACEHOLDER}" class="sr_multi_select_input" id="{ID}" name="{POST_VAR}" {ALL_DISABLED} multiple>
	<!-- BEGIN item -->
	<option value="{VAL}" {SELECTED} {DISABLED}>{TEXT}</option>
	<!-- END item -->
</select>
